* {
  font-family: "Meiryo";
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}


/* Role Colors */
.TANK { background-color: rgba(52,67,150,0.75); }
.HEALER { background-color: rgba(57,101,39,0.75); }
.DPS { background-color: rgba(101, 50, 50, 0.75); }
.Pet { background-color: rgba(150,147,52,0.75); }
.UNKNOWN { background-color: rgba(211,211,211,0.75); }
.YOU { background-color: rgba(255, 247, 0, 0.75); }

th { text-align: center; }
td { text-align: right; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.blue {
  color: #E2EBF5;
  text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}

.gold {
  color: #DED7BE;
  text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}

.resize-handle {
  background-image: url(handle.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#aggrolist .hide { display: none; }

#aggrolist .outer {
  height: 100%;
  padding: 10px;
}

#aggrolist .inner {
  position: relative;
  padding: 10px;
}

#aggrolist .inner .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(5px);
  z-index: -1;
}

#toggle-collapse {
  cursor: pointer;
  float: right;
}

#combatants {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

#encounter,
#combatants th {
  white-space: nowrap;
}

#combatants td {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  max-width: 20ex;
  padding: 0px;
}

#combatants thead {
  border-bottom: 1px solid #DED7BE;
}

#combatants td.hate {
  white-space: nowrap;
  min-width: 55px;
  width: 55px;
}

#combatants td.hate2 {
  white-space: nowrap;
  min-width: 58px;
  width: 58px;
}

#combatants td.target {
  min-width: 50px;
  width: 50px;
}

#combatants td div.hate {
  width: 100%;
  margin: 1px 0px 1px 0px;
  padding: 1px 4px 1px 1px;
}

#combatants td div.target {
  width: 100%;
  margin: 1px 0px 1px 0px;
  padding: 1px 1px 1px 1px;
}

#combatants td div.green, td.green {
 background-color: rgba(38, 214, 70, 0.75);
}
#combatants td div.yellow, td.yellow {
  background-color: rgba(201, 204, 36, 0.75);
}
#combatants td div.orange, td.orange {
  background-color: rgba(239, 151, 43, 0.75);
}
#combatants td div.red, td.red {
  background-color: rgba(255, 45, 45, 0.75);
}

#combatants tr.current {
  border-color: #E2EBF5;
  border: 1px dotted;
}

#combatants td div.content {
  position: relative;
  margin-bottom: 3px;
  height: 1.2em;
  clear: both;
}

#combatants td div.gauge {
  position: absolute;
  display: block;
  bottom: -3px;
  height: 3px;
  z-index: -1;
}

#combatants td div.gauge2 {
  position: absolute;
  display: block;
  top: 10px;
  height: 5px;
  z-index: -1;
}

#combatants td div.status2 {
  position: absolute;
  display: block;
  top: 12px;
  z-index: -1;
}

#combatants td div.box {
  position: relative;
  margin-left: 5px;
}

.status-icon {
  display: inline-block;
  width: 24px;
  position: relative;
}

.status-icon img {
  width: 24px;
  height: 32px;
}

.status-icon img.small-1 {
  width: 21px;
  height: 28px;
}

.status-icon img.small-2 {
  width: 18px;
  height: 24px;
}

.status-icon span {
  text-align: right;
  position: absolute;
  bottom: -4px;
  right: 0px;
  font-size: 12px;
}

.status-icon span.isOwner-true {
  color: rgb(70, 255, 70);
  text-shadow: -1px 0 3px #001b00, 0 1px 3px #001b00, 1px 0 3px #001b00, 0 -1px 3px #001b00;
}
