<html>

<head>
  <meta charset="utf-8" />
  <title>targetinfo_mini</title>
  <link rel="stylesheet" href="css/targetinfo.css">
  <style>
    .content {
      position: absolute;
      right: 0px;
      padding: 10px;
    }

    .item {
      color: #E2EBF5;
      text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
      font-weight: 300;
      text-align: right;
      overflow: hidden;
    }
  </style>
</head>

<body id="enmity" v-class="resize-handle: !locked">

  <!-- outer -->
  <div class="outer {{hide ? 'hide' : ''}}">
    <!-- innner -->
    <div v-if="updated" class="inner {{target.Type != 2 ? 'hide' : ''}}">

      <!-- Items -->
      <div id="items" class="content">
        <div class="background"></div>
        <div class="item">
          <span>{{target | hppercent}}%</span>
          <span v-if="target.TimeToDeath"> ({{target.TimeToDeath}})</span>
        </div>
        <div class="item">{{myEntry.RelativeEnmity | relnumformat}}</div>
        <div class="item">{{target.Distance}}m</div>
      </div>
      <!-- end of Items -->

    </div>
    <!-- end of inner -->
  </div>
  <!-- end of outer -->

  <!-- load js -->
  <script src="https://unpkg.com/vue@0.12.7/dist/vue.min.js"></script>
  <script src="https://ngld.github.io/OverlayPlugin/assets/shared/common.min.js"></script>
  <script src="../enmity_target_funcs.js"></script>
  <script src="js/funcs.js"></script>
  <script src="js/enmity.js"></script>
</body>

</html>
