<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IINACT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IINACT.Properties.Settings>
            <setting name="RPcap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParseFilterMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableDamageShield" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableCombinePets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateIndividualDoTCrits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRealDoTTicks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RPcapHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RPcapPort" serializeAs="String">
                <value>2002</value>
            </setting>
            <setting name="RPcapUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RPcapPassword" serializeAs="String">
                <value />
            </setting>
        </IINACT.Properties.Settings>
    </userSettings>
</configuration>